@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-stone-50 text-stone-900; }
.card { @apply rounded-2xl shadow-sm bg-white border border-stone-200; }
.card-pad { @apply p-5; }
